body {
    background-color: #302c2c;
}
#side_nav{
    background: #000;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    position: fixed;
    min-height: 100%;
    max-height: 100%;
   }
  
   hr.h-color{
     background: #eee;
   }
   
   .sidebar li.active{
      background: red;
      border-radius: 8px;
   }
   
   .sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
   }
   .sidebar li a{
    color: #fff;
   }

   
   @media(max-width: 767px){
    #side_nav{
      margin-left: -250px;
      position: sticky;
      min-height: 100%;
      
   
    }
    #side_nav.active{
      margin-left: 0;
     }
   }
.etusivu {
    background-image: url(../img/image\ \(1\)\ \(2\).png);
    background-repeat: no-repeat;
    margin-left: auto;
    width: auto;
    height: auto;
    background-size: -200%;
}



.etusivu, .kuntosali, .jäsenyys, .yhteystiedot, h2, h3 {
    color: white;
    font-size: larger;
    text-align: center;
    
}

p {
    font-size: larger;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
 
  .header-main{
	width:10%;
	height:180px;
	background-color: red;
}

.navbar-light .navbar-nav .nav-link  {
	color: white;
	font-size: 200%;
    transition: 400ms;
}

.navbar-light .navbar-brand  {
	color: white;

}
.navbar-toggler{
	background-color: lightgray;
}  

.etusivu .teksti{
    background-color: rgba(211, 211, 211, 0.788);
    color:black;
}
ul, ol{
    list-style-type: none;
}

/*Kuva Slideshow*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow boxin laajuus */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Seuraava ja edellinen buttonit */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Seuraava buttoni oikealle */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Kun hiiri ala ohjauspisteessä: musta tausta */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Numerot (1/4 etc) */
.numbertext {
  color: #ff0000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Ohjauspisteet alla */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Kuvan vaihdon animaatio (Fading) */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Kuva SlideShow päättyy */