body {
    background-color: #302c2c;
}

.etusivu {
    background-image: url(../img/image\ \(1\).png);
    background-repeat: no-repeat;
}

.etusivu, .kuntosali, .jäsenyys, .yhteystiedot, h2, h3 {
    color: white;
    font-size: larger;
    text-align: center;

}

p {
    font-size: larger;
}

.sidebar{
	position: fixed;
	width: 250px;
	height:100%;
	padding: 30px 0;
	background: black;
	margin: 0px;
}

.sidebar h2{
	color: red;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
    font-size: larger;
}

.sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(225,225,225,0.05);
}

.sidebar ul li a{
	color: red;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
}



.sidebar a:hover, a:focus a:active {
	color: white;
    text-decoration: none;
    background-color: maroon;
    font-size: larger;

}
img {
    opacity: 0.5;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

  }
  footer {
    color: white;
    align-content: bottom;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  




