body {
    background-color: #302c2c;
}

.etusivu {
    background-image: url(../img/image\ \(1\)\ \(2\).png);
    background-repeat: no-repeat;
    margin-left: auto;
    width: auto;
    height: auto;
}

.etusivu, .kuntosali, .jäsenyys, .yhteystiedot, h2, h3 {
    color: white;
    font-size: larger;
    text-align: center;
    
}

p {
    font-size: larger;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
 
  .header-main{
	width:10%;
	height:180px;
	background-color: blue;
}

.navbar-light .navbar-nav .nav-link  {
	color: white;
	font-size: 200%;
    transition: 400ms;
}

.navbar-light .navbar-brand  {
	color: white;

}
.navbar-toggler{
	background-color: lightgrey;
}  
a:hover, a:active {
    background-color: rgba(170, 0, 0, 0.733);
}

/*
.sidebar{
	position: fixed;
	width: 250px;
	height:100%;
	padding: 30px 0;
	background: black;
	margin: 0px;
}

.sidebar h2{
	color: red;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
    font-size: larger;
}

.sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(225,225,225,0.05);
}

.sidebar ul li a{
	color: red;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
}



.sidebar a:hover, a:focus a:active {
	color: white;
    text-decoration: none;
    background-color: maroon;
    font-size: larger;

}*/
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}
.etusivu .teksti{
    background-color: rgba(211, 211, 211, 0.788);
    color:black;
}
ul, ol{
    list-style-type: none;
}




